.ui--modal {
  position: fixed;
  inset: 0;
  z-index: 40;
  padding: 4rem;
  display: grid;
  overflow: hidden auto;
  background-color: rgba($color-hunt-5, 0.25);
  backdrop-filter: blur(5px);

  &.enter,
  &.exit-active {
    @include class-contains('-container') {
      opacity: 0;
      transform: translateY(-2px);
    }
  }

  &.enter-active {
    @include class-contains('-container') {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-container {
    position: relative;
    align-self: flex-start;
    justify-self: center;
    margin: 0 auto;
    min-width: 256px;
    max-width: $screen-md;
    border-radius: $border-radius-large;
    background-color: var(--color-hunt-2);
    box-shadow: 0 0 0 1px var(--color-hunt-3), 0 1rem 2rem shade($color-secondary, 50%);
    transition: all $transition-time $cubic-bezier;
  }

  &-header {
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    height: 60px;
    padding: 0 2rem;
    border-radius: $border-radius-large $border-radius-large 0 0;
    background-color: var(--color-hunt-3);
    border-bottom: 2px solid var(--color-hunt-3);
    user-select: none;

    .title {
      line-height: 26px;
      color: var(--color-primary);
      font-size: $font-size-large;
      font-weight: $font-weight-bolder;

      @include text-ellipsis();
    }

    .btn {
      &-close {
        width: 26px;
        height: 26px;
        color: var(--color-hunt-4);

        &:hover {
          color: var(--color-red);
        }
      }
    }
  }

  &-boby {
    padding: 2rem;
    color: var(--color-primary);
  }

  // &-footer {}

  // &.is-default {}

  &.is-dialog {
    @include class-endWith('modal-container') {
      min-width: 360px;
    }

    @include class-endWith('modal-body') {
      line-height: $line-height;
      color: var(--color-hunt-4);

      small {
        display: block;
        margin: 0.75rem 0 0;
        font-size: var(--font-size-small);
      }
    }

    @include class-endWith('modal-footer') {
      display: grid;
      grid-gap: 1rem;
      grid-auto-flow: column;
      justify-content: flex-end;
      padding: 0 1.5rem 1.5rem;

      .btn {
        min-width: 80px;
        width: auto;
        height: 30px;

        .text {
          text-transform: capitalize;
          font-size: $font-size-small;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
