.ui--navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 0 1.5rem;
  grid-area: area-navbar;

  // @include screen-sm {}
  // @include screen-xs {}

  &-container {
    position: relative;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: flex-end;
    height: 100%;
  }

  &-column {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    &.lf {
      grid-gap: 0.5rem;
      justify-self: flex-start;
    }

    &.rg {
      grid-gap: 2rem;
      justify-self: flex-end;
    }
  }

  .btn {
    &-account,
    &-connect {
      grid-gap: 0.75rem;
      padding: 0 1.5rem;
      height: 40px;
      border-radius: $border-radius-medium;

      .text {
        font-weight: $font-weight-bold;
      }
    }
  }
}
