// SET: Global CSS Variables.
:root {
  --color-red             : #{$color-red};
  --color-orange          : #{$color-orange};
  --color-yellow          : #{$color-yellow};
  --color-green           : #{$color-green};
  --color-blue            : #{$color-blue};
  --color-hunt-1          : #{$color-hunt-1};
  --color-hunt-2          : #{$color-hunt-2};
  --color-hunt-3          : #{$color-hunt-3};
  --color-hunt-4          : #{$color-hunt-4};
  --color-hunt-5          : #{$color-hunt-5};
  --color-primary         : #{$color-primary};
  --color-secondary       : #{$color-secondary};
}

// SET global classes.
.ui- {
  &-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "area-navbar" "area-router-view";
    min-height: 100vh;
    
    .router-view {
      position: relative;
      grid-area: area-router-view;
    }

    .router-container {
      position: relative;
      margin: auto;
      max-width: $screen-lg;
    }
  }
}

.walletconnect {
  &-qrcode__base {
    background-color: rgba($color-hunt-5, 0.5) !important;
    backdrop-filter: blur(5px) !important;
  }

  &-modal__header {
    display: grid !important;
    grid-gap: 1rem;
    grid-template-columns: auto 1fr;
    padding-right: 2rem;
  }
}
