html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
  color: var(--color--hunt-1);
  background-color: var(--color-hunt-9);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

code, pre {
  font-family: var(--font-family-code);
}

hr {
  border: unset;
  margin: 0.75rem 0;
  border-bottom: 1px solid var(--color-hunt-2);
}

ul,
ol {
  list-style: none;
}

img,
label {
  width: inherit;
  user-select: none;
}

img {
  pointer-events: none;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: unset;
  background-color: transparent;
}

button {
  cursor: pointer;
  outline: 0;
  padding: 0;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
  }
}

input, select, textarea {
  padding: 0;
  outline: 0;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 transparent;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
  display: inline-block;
  user-select: none;

  &[disabled] {
    cursor: not-allowed;
  }
}