// Color
$color-red              : #EB4747;
$color-orange           : #F2994A;
$color-yellow           : #F6CF56;
$color-green            : #3FC66D;
$color-blue             : #105EFB;
$color-hunt-1           : #FFFAF5;
$color-hunt-2           : #FFF3E4;
$color-hunt-3           : #EED6C4;
$color-hunt-4           : #6B4F4F;
$color-hunt-5           : #483434;
$color-primary          : $color-hunt-5;
$color-secondary        : $color-hunt-4;

// Font
$font-family-base       : 'Ubuntu', 'Helvetica Neue', sans-serif;
$font-family-code       : Consolas, Menlo, Courier, monospace;
$font-size-larger       : 22px;
$font-size-large        : 18px;
$font-size-medium       : 14px;
$font-size-small        : 12px;
$font-size-smaller      : 10px;
$font-weight-light      : 300;
$font-weight-medium     : 400;
$font-weight-bold       : 500;
$font-weight-bolder     : 700;
$line-height            : 1.510;

// Border
$border-radius-small    : 4px;
$border-radius-medium   : 8px;
$border-radius-large    : 12px;

// Animation
$animation-time         : 400ms;
$transition-time        : 200ms;
$cubic-bezier           : cubic-bezier(0.77, 0, 0.175, 1);

// Media queries breakpoints
$screen-xs              : 576px;  // Small tablets and large smartphones (landscape view)
$screen-sm              : 768px;  // Small tablets (portrait view)
$screen-md              : 992px;  // Tablets and small desktops
$screen-lg              : 1260px; // Large tablets and desktops
